{% extends "base.html" %}
{% block title %} 
Edit Personal Information
{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 
<div class="container" id="wrapper">
    <div class="row">
        <div class="col">
            {% include "partials/errors.html" %}     
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="display-4"> Edit Profile </p>
            <form class="OHUserUpdateForm" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"> Update </button>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}