{% extends "base.html" %}
{% block title %} 
Upload files to Dashbord
{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 
<div class="container">
    <div class="row">
        <div class="col">
            {% include "partials/errors.html" %}     
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="display-4"> Files </p>
            <form class="FileUploadForm" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit"> Upload </button>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width:50%;">
                <div class="scrollable">
                    <div class="card-body">
                        <p class="card-title"> Uploaded files </p>
                        {% if user.fileUploads %}
                            <ul>
                                {% for fileUpload in user.fileUploads.all %}
                                    <li>
                                        <a href="{{ fileUpload.file.url }}" target="_blank">
                                            <span>{{ fileUpload.file }}</span>
                                        </a>
                                    </li>
                                {% endfor %}  
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width:50%;">
                <div class="card-body">
                    <p class="card-text"> Have questions about Covid-19? </p>                     
                    <a href="/feed" class="btn btn-primary"> Get updates </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}