{% extends "base.html" %}
{% block title %} 
{{ history }}
{% endblock %}

{% block content%} 
<div class="container" id="wrapper">
    <div class="row">
        <div class="col align-self-center">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <p class= "card-title"><h3> Personal Profile </h3></p>
                    <p class="card-text"><span> ID: {{ user.id }} </span></p>
                    <p class="card-text"> Email: {{ user.email }}</p>
                    <p class="card-text"> Birth Date: {{ user.date_of_birth }} </p>
                    <p class="card-text"> <span> Account created on: {{ user.created_at }} </span></p>
                    <p class="card-text"> <span> Last log in: {{ user.last_login }} </span></p>
                    <p class="card-text">
                        <a href="/files/{{ user.id }}" class="btn btn-primary"> Upload and view files </a> 
                        <a href="/feed" class="btn btn-primary"> Updates on {{ health_condition }} </a>
                    </p> 
                    <p>
                        <a href="/edit/{{ user.id }}" class="btn btn-primary"> Edit profile </a>
                        <a href="/password_change" class="btn btn-warning"> Change password </a>
                        <a href="/delete_profile" class="btn btn-warning"> Delete account </a>
                    </p><br>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="card" style="width: 100%;">
                {% if user.cover %}
                    {% load static %}
                    <img class="card-img-top"  src="{{ user.cover.url }}" style="width: 100%; float:right;" alt="profile picture">
                        <span>{{ user.cover }}</span>
                {% endif %}
                {% if user.cover not in request.session %}
                    {% load static %}
                    <img class="card-img-top" src="{% static 'kitty.jpg' %}" alt="profile picture">
                {% endif %}
                <div class="card-body">
                    <p class="card-text"> Profile picture </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="card scrollable" style="width:100%;">
                <div class="card-body">
                {% if user.screenAnswers %} 
                    <p class="card-title"> Covid-19 Screen Responses: </p>
                    <ul>
                    {% for screenAnswer in all_screenAnswers %}
                        <li><span> Replied " {{ screenAnswer.answer }} " on {{ screenAnswer.created_at }}</span></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if user.screeAnswers not in request.session %} 
                    <p class="card-title"> You have not screened for Covid-19 yet! </p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col align-self-center"> 
            <div class="card scrollable" style="width:100%;">
                <div class="card-body">
                {% if user.vaccineResponses %}
                    <p class="card-title"> Vaccine Report: </p>
                    <p class="card-text"><b> {{ vaccineResponse.created_at }} </b></p>
                    <ul>
                    {% for vaccineResponse in all_vaccineResponses %}
                        <li><span>{{ vaccineResponse.vaccine_type }}, {{ vaccineResponse.vaccine_dose}} dose adminstered @{{ vaccineResponse.vaccine_location }}</span></li>
                        <li><span> Experienced {{ vaccineResponse.vaccine_illness }} following vaccine receipt</span></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if user.screeAnswers not in request.session %} 
                    <p class="card-title"> No reports to show! </p>
                {% endif %}
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}