{% extends "base.html" %}
{% block title %} 
{{ history }}
{% endblock %}

{% block content%} 
<div class="container">
    <div class="row">
        <div class="col">
            {% include "partials/errors.html" %}     
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <p class= "card-title"><h3> Personal Profile </h3></p>
                    <p class="card-text"><span> ID: {{ user.id }} </span></p>
                    <p class="card-text"> Email: {{ user.email }}</p>
                    <p class="card-text"> Birth Date: {{ user.date_of_birth }} </p>
                    <p class="card-text"> <span> Account created on: {{ user.created_at }} </span></p>
                    <p class="card-text"> <span> Last log in: {{ user.last_login }} </span></p>
                    <p class="card-text">
                        <a href="/file_upload/{{ user.id }}" class="btn btn-primary"> Upload and view files </a> 
                        <a href="/feed" class="btn btn-primary"> Updates on {{ health_condition }} </a>
                    </p> 
                    <p>
                        <a href="/edit/{{ user.id }}" class="btn btn-primary"> Edit profile </a>
                        <a href="/password_change" class="btn btn-warning"> Change password </a>
                        <a href="/delete_profile/{{ user.id }}" class="btn btn-warning"> Delete account </a>
                    </p><br>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="card" style="width: 100%;">
            {% load static %}
                <img class="card-img-top" src="{% static 'covi_virus.jpg' %}" alt="">
                <div class="card-body">
                    <p class="card-text"> <small> ... contributing to public health... </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="card" style="width:100%;">
            {% if user.screenAnswers %} 
                <div class="card-body">
                    <p class="card-title"> Covid-19 Screen Responses: </p>
                    <div class="scrollable">
                        <ul>
                            {% for screenAnswer in user.screenAnswers.all %}
                                <li><span> Replied " {{ screenAnswer.answer }} " on {{ screenAnswer.created_at }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %} 
                <p class="card-text"> You have not screened for Covid-19 yet! </p>
            {%  endif %}
            </div>
        </div>
        <div class="col align-self-center">
            <div class="card" style="width:100%;">
                {% if user.vaccineResponses %}
                <div class="card-body">
                    <p class="card-title"> Vaccine Report: </p>
                    <div class="scrollable">
                        <ul>
                            {% for vaccineResponse in user.vaccineResponses.all %}
                                <li><p class="card-text"><b> {{ vaccineResponse.created_at }} </b></p></li>
                                <li><span>{{ vaccineResponse.vaccine_type }}, {{ vaccineResponse.vaccine_dose}} dose adminstered @ {{ vaccineResponse.vaccine_location }}, on {{vaccineResponse.date_received }}</span></li>
                                <li><span> Experienced {{ vaccineResponse.vaccine_illness }} following vaccine receipt</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                    <p class="card-text"> Nothing reported yet! </p>
                {% endif %}
            </div>
        </div> 
    </div>
</div>
{% endblock %}