{% extends "base.html" %}

{% block title %} 
Covid-19  News
{% endblock %}

{% load markdown_extras %}

{% block content %}
{% if all_newsPosts %}
    {% for newsPost in all_newsPosts %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include "partials/errors.html" %}     
            </div>
        </div>
        <div class="row" id="posts">
            <div class="col-lg-6">
                <div class="card">
                    <p><b> {{ newsPost.intro | new_markdown | safe }}</b></p>
                    <p> {{ newsPost.created_at }} </p>
                    <img class="card-img-top" src="{{ newsPost.newscover.url }}" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title"> {{ newsPost.title | new_markdown | safe }} </h5>
                        <p class="card-text"> {{ newsPost.description | new_markdown | safe }}</p> <br>
                        <P class="card-text"><span><a href="/news_postContent/{{ newsPost.id }}"> Continue reading&rarr; </a></span></P> 
                        {% if user in newsPost.user_likes.all %}
                            <span><form action="/like/{{ newsPost.id }}" method="post" name="like" id="likeform">
                                {% csrf_token %}
                                <button type='like' name='like' value="{{ newsPost.id }}" class="btn btn-primary" disabled>
                                    <i class="bi bi-suit-heart-fill"></i> &nbsp; 
                                    <span> Likes &nbsp; {{ newsPost.user_likes.count }} </span>
                                </button>
                            </form></span>
                        {% endif %}
                        {% if user not in newsPost.user_likes.all %}
                            <span><form action="/like/{{ newsPost.id }}" method="post" name="like" id="likeform">
                                {% csrf_token %}
                                <button type='like' name='like' value="{{ newsPost.id }}" class="btn btn-default">
                                    <i class="bi bi-suit-heart-fill"></i> &nbsp; 
                                    <span> Likes &nbsp; {{ newsPost.user_likes.count }} </span>
                                </button>
                            </form></span>
                        {% endif %}</p>
                        {% if newsPost.comments %}
                            <p><span><a href="/comments/{{ newsPost.id }}"> Comments </a></span></p>
                        {% endif %}
                        {% if user.is_authenticated and user.is_staff %} 
                            <p><a href="/newsPost"> Post an update </a></p> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if not all_newsPosts %}
    <h1> No posts yet...Come back later </h1>
{% endif %}
{% endblock %}