{% extends 'base.html' %}

{% block title %} 
Password reset done
{% endblock title %}

{% block content %}
<div class="container" id="wrapper">
    <div class="row">
        <div class="col">
            <p>
                Instructions for your password reset have been emailed to you if you made a request for your password to be reset.
            </p>
            <p>
                Incase you do not receive the email, check that you entered the correct email address; check your spam folder as well.
            </p>
        </div>
    </div>
</div>
    
{% endblock %}