{% extends 'base.html' %}

{% block title %} 
Change Password 
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2> Change Password </h2>
            <form class="password_change" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"> Change </button>
                        <a class="btn btn-primary" href="/profile/{{ user.id }}"> Cancel </a>
                    </div>    
                </div>
            </div>
            </form>
        </div>
    </div>

</div>
    
{% endblock content %}